<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807755555915-otlvefv1451rm64qaf2fiv7m20be1td6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807755555915-otlvefv1451rm64qaf2fiv7m20be1td6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>807755555915-q3oiencj36er4g6s366b6hjcmo2pk5hc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6h_X2MGVe0TZAjBzudG-Cbim4OV1Pefw</string>
	<key>GCM_SENDER_ID</key>
	<string>807755555915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teachingWithPurpose</string>
	<key>PROJECT_ID</key>
	<string>learning-with-purpose-adc7e</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-with-purpose-adc7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807755555915:ios:57405fb5b7abf2b5ce99ce</string>
</dict>
</plist>